h2 {
    color: blue;
}

p {
    text-transform: uppercase;
    line-height: 40px;
    font-style: italic;
    font-weight: bold;
    font-size: 120%;
    font-family: 'Poiret One', cursive;
}

img {
    float: right;
}

footer {
    clear: both;
    text-align: center;
}