* {
    text-align: right;
}

body {
    background-image: url(./imgs/index-background.png);
    background-size: auto;
}

h2, p {
    color: black;
    text-align: center;
    border: 5px dashed rgba(255, 176, 170, 0.8);
    cursor: pointer;
}

h2 p {
    text-align: left;
}

/*
    h2 > p --- p padre es h2 especificamente
    h2 + p --- p va justo despues de h2
    h2 + p:hover --- al poner raton encima
    !important --- por encima de todo
*/

p {
    color: darkblue;
}

li {
    list-style: none;
    display: inline-block;
}

.webtext {
    border: 5px dashed green;
}

.webtext:first-child {
    border: 5px dashed blue;
}

.webtext:last-child {
    border: 5px dashed red;
}

.active {
    color: red;
}

#div1 {
    background: rgba(0, 0, 255, 0.2);
}

#div2 {
    background: rgba(0, 255, 0, 0.2);
}