h2 {
    color: blue;
}

.boxmodel {
    border: 5px solid red;
    display: inline-block;
    padding: 5px 20px 5px 20px;
    margin: 0px 20px 0px 20px;
    width: 33px;
    height: 55px;
    text-align: center;
}
/*
em - padre
rem - root
*/
span {
    font-size: 2em;
}